<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid style="margin: top 200px">
    <ion-row class="ion-justify-content-center">
      <ion-col size="3">
        
        <div class="minutos">
          <div *ngIf="minutos<10">
            0{{minutos}}
          </div>
          <div *ngIf="minutos>=10">
            {{minutos}}
          </div>
        </div>
      </ion-col>
      <ion-col size="3"class="ion-text-center ">
        <div class="segundos">
          <div *ngIf="segundos<10">
            0{{segundos}}
          </div>
          <div *ngIf="segundos>=10">
            {{segundos}}
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="4">
       <ion-button color="success"(click)="play()">
         <ion-label>iniciar</ion-label>
       </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button color='dark'(click)="reset()">resetear</ion-button>
       </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>