
<ion-header >
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon (click)="openMenu()" style="font-size: 30px;" name="reorder-three"></ion-icon>
    </ion-buttons>
    <ion-title>inicio</ion-title>
    

  </ion-toolbar>
</ion-header>


<ion-content class="background">
  <ion-item>
    
      <h1>
        NUEVA CANCION
      </h1>
    
  </ion-item>

  <ion-item>
    <script></script>
    <ion-label class="normal">
      Musica:
    </ion-label>
    <ion-buttons slot="end">
      
      <ion-button>
        <label for="audio_file">
          <ion-icon name="musical-notes"></ion-icon>
        </label>
        <input  (change)="audio($event)" style="display: none;" id="audio_file" type="file" accept="audio/*" />
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-item>
    <ion-label>Titulo</ion-label>
    <ion-input [(ngModel)]="newMusica.titulo"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>interprete</ion-label>
    <ion-input [(ngModel)]="newMusica.interprete"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>album</ion-label>
    <ion-input [(ngModel)]="newMusica.album"> </ion-input>
  </ion-item>
  <audio  id="audio_player"  controls></audio>
  <ion-button style=" margin:30px" expand="full" color="dark"
  (click)="guardarMusica()">
  Guardar
</ion-button>
<ion-button style=" margin:30px" expand="full" color="dark"
(click)="nuevo()">
nuevo
</ion-button>
<ion-item *ngFor="let musica of musicas">
  <ion-label class="normal"> {{musica.titulo}} </ion-label>
  <ion-buttons slot="end">
    <ion-button (click)="newMusica=musica" >
      <ion-icon name="create"></ion-icon>
     </ion-button>
    <ion-button (click)="deletemusic(musica)" >
      <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
     </ion-button>
  </ion-buttons>

</ion-item>

  

  

</ion-content>


