
<ion-header>
  <ion-toolbar class="header"> 
    <ion-title  style="text-align: center;">Registro</ion-title>
  </ion-toolbar>
</ion-header>
    <ion-content  style="text-align: center;">
      <div style="text-align: center">
        <p>
          <img src="assets/lign.png" alt=""
          width="120"
            height="120"
            style="margin-top: 10px; margin-bottom: 10px"
          >
        </p>
      </div>
     <div>
      <p><font face="Tahoma" slot="start" font size="4.5" style="font-weight: bold;" font color="#DFDCDC">
        Nombres:</font></p>
      <p>
        <input
          [(ngModel)]="datos.nombre"
          type="text"
          size="25"
          style="
            background: rgb(248, 250, 249);
            color: rgb(3, 3, 3);
            font-weight: bold;
            padding: 3px;
            border: 3px solid rgb(5, 40, 43);
            margin-top: -6px;
            margin-bottom: -10px;
          "
        />
      </p>
      <font face="Tahoma" slot="start" font size="4.5" style="font-weight: bold;" font color="#DFDCDC">Apellidos:</font>
      <p>
        <input
          [(ngModel)]="datos.apellido"
          type="text"
          size="25"
          style="
            background: rgb(248, 250, 249);
            color: rgb(3, 3, 3);
            font-weight: bold;
            padding: 3px;
            border: 3px solid rgb(5, 40, 43);
            margin-top: -6px;
            margin-bottom: -10px;
          "
        />
      </p>
      <font face="Tahoma" slot="start" font size="4.5" style="font-weight: bold;" font color="#DFDCDC">correo:</font>
      <p>
        <input
          [(ngModel)]="datos.correo"
          type="email"
          id="email"
          pattern=".+@globex\.com"
          size="25"
          style="
            background: rgb(248, 250, 249);
            color: rgb(3, 3, 3);
            font-weight: bold;
            padding: 3px;
            border: 3px solid rgb(5, 40, 43);
            margin-top: -6px;
            margin-bottom: -10px;
          "
        />
      </p>
      <font face="Tahoma" slot="start" font size="4.5" style="font-weight: bold;" font color="#DFDCDC">
        contraseña:
      </font>
    <p>
      <input
      [(ngModel)]="datos.password"
      type="password"
      size="25"
      pattern="[A-Za-z][A-Za-z0-9]*[0-9][A-Za-z0-9]*"
      style="
        background: rgb(248, 250, 249);
        color: rgb(16, 17, 17);
        font-weight: bold;
        padding: 3px;
        border: 3px solid rgb(5, 40, 43);
        margin-top: 8px;
        margin-bottom: 5px;
      "
    />
    
    </p>
     </div>
     <div>
      <img src="assets/liga .png"  width="150" height="70" style=" margin-top:-65px; margin-bottom:-65px" [routerLink]="['/user']">
      <img src="assets/reg.png"  width="150" height="60" style=" margin-top:-60px; margin-bottom:-60px" (click)="registrar()" >      
     </div>
    </ion-content>
