<ion-header>
  <ion-title>respuestas positivas</ion-title>
  </ion-header>
  <ion-content>
<ion-content>
   
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h2>
          Respuesta ahorros       </h2>
        <h3>felicidades es buen ahorrador</h3>  
      </ion-card-title>
      <img src="https://cde.laprensa.e3.pe/ima/0/0/2/3/4/234809.jpg">
    </ion-card-header>
  </ion-card>
       <ion-button [routerLink]="['/gasto']" >
        Regresar
      </ion-button>
     
   
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <h2>
              Respuesta Estudiante          </h2>
            <h3>Paso el año</h3>  
          </ion-card-title>
          <img src="https://p4.wallpaperbetter.com/wallpaper/314/459/704/smile-smiley-happiness-wink-wallpaper-preview.jpg">
        </ion-card-header>
      </ion-card>
      <ion-button [routerLink]="['/estudiante']" >
        Regresar
      </ion-button>

      <div>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <h2>
                Respuesta Premio
            </h2>
              <p class="ion-text-center">FELICIDADES!!</p>
              <h3>Acabas de reclamar tu premio</h3>  
            </ion-card-title>
            <img src="https://img1.picmix.com/output/stamp/normal/3/5/8/9/429853_c166c.gif">
          </ion-card-header>
        </ion-card>
      
        <ion-button [routerLink]="['/premio']">
          Regresar
        </ion-button>
 

      </div>

     
      
   
</ion-content>       
