.foco-on{
background: rgb(9, 252, 252);
width: 154px;
height: 100px;
padding: 30px;
align-items: center;
display: flex;
justify-content: center;
border-radius:  100px; ;
}
.foco-off{
    background: rgb(139, 136, 136);
    width: 154px;
    height: 100px;
    padding: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius:  100px; ;
    }