<div *ngIf="musica">
   
  <div class="foreground">
    <img class="main-image" [src]="musica.portada">
  </div>
  <div class="music-player-box">
    <audio [src]="musica.musica" controls="controls" preload="preload"> </audio> 
</div>
  <ion-item class="reaction">
    <ion-avatar slot="start" >
      <img [src]="musica.portada">
    </ion-avatar>
    <div>
      <p style="margin:-2.5% 0;">
       <font face="Tahoma" font size="5" style="font-weight: bold;" font color="#DFDCDC" >{{musica.titulo}}</font>
      </p> 
       <font face="Tahoma" font size="4" font color="silver">{{musica.interprete}}</font>
     </div>
  </ion-item>
</div>