
<ion-header>
  <ion-toolbar class="header">
    <ion-title style="text-align: center;">LOGIN</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="text-align: center;">
 <p><img src="assets/lign.png" alt="alternatetext" width="90" height="100" style=" margin-top:10px; margin-bottom:10px"></p>
 <font face="Tahoma" font size="3" style="font-weight: bold;" font color="#DFDCDC" >Bienvenidos a rock music</font>
 <font face="Tahoma" font size="3" style="font-weight: bold;" font color="#DFDCDC" > La apk donde encontraras las mejores canciones de rock</font>
 <font face="Tahoma" font size="3" style="font-weight: bold;" font color="#DFDCDC" > de todos los tiempos</font>
  <P><img src="assets/cabe.png" alt="alternatetext" width="50" height="60" style=" margin-top:-40px; margin-bottom:-20px"  >
  <input [(ngModel)]="credenciales.correo" type="text" name="usuario" style="background:rgb(248, 250, 249); color:rgb(3, 3, 3);font-weight:bold; padding: 3px; border:3px solid rgb(5, 40, 43);margin-top:10px;margin-bottom:10px; " ></P>
 <p><img src="assets/llaves.png" alt="alternatetext" width="50" height="60" style=" margin-top:0px; margin-bottom:-25px"  >
  <input [(ngModel)]="credenciales.password" type="password" name="usuario" pattern="[A-Za-z][A-Za-z0-9]*[0-9][A-Za-z0-9]*" style="background:rgb(248, 250, 249); color: rgb(16, 17, 17); font-weight:bold; padding:3px; border:3px solid rgb(5, 40, 43); margin-top:8px; margin-bottom:5px;" ></p> 
<img src="assets/liga .png"  width="150" height="70" style=" margin-top:-65px; margin-bottom:-65px" (click)="login()">
<img src="assets/reg.png"  width="150" height="60" style=" margin-top:-60px; margin-bottom:-60px" [routerLink]="['/registro']" >
</div>
<div style="text-align: center;">
 </div>
</ion-content>

