<ion-header>
<ion-title>gasto</ion-title>
</ion-header>
<ion-content>

 <ion-item>
  <ion-label position="floating">introduzca los ingresos </ion-label>
  <ion-input [(ngModel)]="input"type="number"></ion-input> 
  <ion-button  expand="full" color="light"(click)="registrar()">
    ingresos 
  </ion-button>
  <ion-label position="floating">Ingrese el gasto </ion-label>
  <ion-input type="number" [(ngModel)]="input2"></ion-input>  
  <ion-button  expand="full" color="light"(click)="gastos1()">
gastos
  </ion-button>
  <ion-button *ngIf="ingresos>gastos" expand="full" color="light"[routerLink]="['/feliz']" routerLinkActive="router-link-active" >
    total 1 
  </ion-button>
    <ion-button *ngIf="ingresos<gastos" expand="full" color="light"[routerLink]="['/fallo']" routerLinkActive="router-link-active" >
    total 2
      </ion-button>

      {{ingresos-gastos}}
  
  
 </ion-item>

 

</ion-content>