<ion-header>
    <ion-title>gasto</ion-title>
    </ion-header>
    <ion-content>
 <ion-content>
     
    <ion-card>
        <ion-card-header>
          <ion-card-title>
            <h2>
              Respuesta ahorros       </h2>
            <h3>mal ahorrador</h3>  
          </ion-card-title>
          <img src="https://cdn-3.expansion.mx/cb/0c/0c753ac0403db3ad4b8ad7c7833a/istock-874045510.jpg">
        </ion-card-header>
      </ion-card>
           <ion-button [routerLink]="['/gasto']" >
            Regresar
          </ion-button>
         
       
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <h2>
                  Respuesta Estudiante          </h2>
                <h3>Perdio el año </h3>  
              </ion-card-title>
              <img src="https://c.tenor.com/dkB5e0zv8mkAAAAC/thumbs-down-dislike.gif">
            </ion-card-header>
          </ion-card>
          <ion-button [routerLink]="['/estudiante']" >
            Regresar
          </ion-button>
     
 </ion-content>       
