<ion-header>
  <ion-title>estudiante</ion-title>
  </ion-header>

    <ion-content>
      <ion-item>
        <ion-label position="floating">introduzca la nota</ion-label>
        <ion-input [(ngModel)]="input"type="number"></ion-input> 
        <ion-button  expand="full" color="light"(click)="registro()">
          notas 
        </ion-button>
      </ion-item>
     
      
      <ion-list>
        <ion-item *ngFor="let calificacion of calificaciones, let i=index ">
          <ion-label>
            <p>
             nota {{i+1}}
            </p>
            {{calificacion.notas}}
          </ion-label>
        </ion-item>
      </ion-list>
      <p>
        Suma de notas
      </p>
      {{notas}}
      <p>
        Promedio total
      </p>

      {{total}}

      <ion-item>
        <ion-button *ngIf="total>=70" expand="full" color="light"[routerLink]="['/feliz']" routerLinkActive="router-link-active" >
          total 1 
        </ion-button>
        <ion-button *ngIf="total<70" expand="full" color="light"[routerLink]="['/fallo']" routerLinkActive="router-link-active" >
          total 2
            </ion-button>
      

      </ion-item>
  
    </ion-content>